:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --people-name-color: #212121;
    --accent-color: #2196F3;
    --ul-nav-text-color: #212121;
    --hero-title-color: #FFFFFF;
    --address-text-color: #FFFFFF;
    --header-background-color: #FFFFFF;
    --hero-background-color: #2F303A;
    --section-people-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --hero-button-text-color: #FFFFFF;
    --hero-button-background-color: #2196F3;
    --portf-battons-color-text: #212121;
    --portf-battons-color-background: #F5F4FA;
    --portf-battons-color-accent-tex:#FFFFFF;
    --portf-battons-color-accent-background:#2196F3;
    --section-work-color-tatle:#212121;
    --section-work-color-text:#757575;

}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list
{ 
    list-style: none;
}

.link
{
    text-decoration: none;
}

/*main*/
.main .section-title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
}

.main .invisible-title {
    display: none;
}

/*header*/
.header {
    background-color: var(--header-background-color);
}
/*logo*/
.ul-nav > .logo
{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.first-logo {
    color: #2196F3;
}
/*nav*/
.ul-nav > .link {
    color: var(--ul-nav-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.ul-nav > .link:hover,
.ul-nav > .link:focus {
    color: var(--accent-color);
}

.tel-mail > .link {
    color: var(--primary-text-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.tel-mail > .link:hover,
.tel-mail > .link:focus {
    color: var(--accent-color);
}

/*main*/
/*hero*/
.hero
{
    background-color: var(--hero-background-color);
}
.hero > .title {
    color: var(--hero-title-color);
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.hero > .button {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
    color: var(--hero-button-text-color);
    background-color: var(--hero-button-background-color);
}
.hero>.button:hover,
.hero>.button:focus
{
    color: var(--title-text-color)
}

/*section-text*/
.section-text .title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.section-text .text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
/*section-people*/
.section-people {
background:  var(--section-people-background-color);
}
.section-people .name{
 color: var(--people-name-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
 }
 .section-people .position {
    font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
 }
/*footer*/
.footer
{
    background-color: var(--footer-background-color);
}
.address
{
    font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    color:var(--address-text-color);
}
.mail,
.tel
{
    color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
/* battons */
.portfolio-nav > .battons 
{
 color: var(--portf-battons-color-text);
 background-color: var(--portf-battons-color-background);
font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.portfolio-nav>.batton-all:hover,
.portfolio-nav>.batton-all:focus,
.portfolio-nav>.batton-websites:hover,
.portfolio-nav>.batton-websites:focus,
.portfolio-nav>.batton-programs:hover,
.portfolio-nav>.batton-programs:focus,
.portfolio-nav>.batton-design:hover,
.portfolio-nav>.batton-design:focus,
.portfolio-nav>.batton-marketing:hover,
.portfolio-nav>.batton-marketing:focus
{
color: var(--portf-battons-color-accent-tex);
background-color: var(--portf-battons-color-accent-background);
}
/*  section-work */
.section-work .tatle
{
font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
     color: var(--section-work-color-tatle);
}
.section-work .text
{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--section-work-color-text)
}
