:root{
    --title-text-color: #212121;
    --background-color: #ffffff;
    --primary-text-color: #757575;
    --portfolio-border:#EEEEEE;
    --accent-color: #2196f3;  
    --nav-text-color:#000000;
    --secondary-zone-color: #f5f4fa;
    --transparent-white: rgba(255, 255, 255, 0.6);
    --primarly-zone-color: #2f303a;
    --people-background-color:#E5E5E5;
    

}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
}

.list
{ 
    list-style: none;
}
/*header*/
.header {
    background-color: var(--header-background-color);   
}
.header a{
text-decoration: none;
}
/* header-nav */
/*logo*/
.first-logo {
    color: var(--accent-color);}

.logo {
font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--nav-text-color);
}

.header-ul a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-ul a:hover,
.header-ul a:focus {
    color: var(--accent-color);
}

.header-ul .current {
    color: var(--accent-color);
}

.header-contact a
 {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contact a:hover,
.header-contact a:focus {
    color: var(--accent-color);
}

/*main*/
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.invisible-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

/*hero*/
.hero
{
    background-color: var(--primarly-zone-color);    align-items: center;
    text-align: center;
    align-items: center;
}
.hero-title {
    color: var(--background-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;        
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.button-hero {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--background-color);      
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.button-hero:hover,
.button-hero:focus
{
    color: var(--title-text-color)
}

/*section-text*/
.text-title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.text-text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
}
/* section-pictures */

/*section-people*/
.section-people {
background:  var(--secondary-zone-color);
text-align: center;
}
.people-frame{
    background:var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.people-name{
 color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
 }
.people-position {
    font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
 }
/*footer*/
.footer
{
    background-color: var(--primarly-zone-color);
}
.footer-address a
{
    text-decoration: none;
    color: var(--background-color);
    font-style: normal;    
}
.footer-ul
{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-ul .mail,
.footer-ul .tel
{
    color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
/* battons */
.porfolio-ul button
{
    background:var(--secondary-zone-color);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-text-color);
    cursor: pointer;
}

.porfolio-ul button:hover,
.porfolio-ul button:focus
{
     
    color: var(--background-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*  porfolio-work */

.work-list li
{
    box-sizing: border-box;    
    background: var(--background-color);
    border: 1px solid var(--portfolio-border);
}
.work-tatle {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
}
.work-text
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

}
